@font-face {
  font-family: "iconfont"; /* Project id 2913080 */
  src: url("//at.alicdn.com/t/font_2913080_kq94wv1az4g.woff2?t=1637893637000")
      format("woff2"),
    url("//at.alicdn.com/t/font_2913080_kq94wv1az4g.woff?t=1637893637000")
      format("woff"),
    url("//at.alicdn.com/t/font_2913080_kq94wv1az4g.ttf?t=1637893637000")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
